<!-- templates/app_name/just_page.html -->

{% extends 'base.html' %}
{% block title %}
Об Авторе
{% endblock %}
{% block content %}
<!-- класс py-5 создает отступы сверху и снизу блока -->
<div class="container py-5">
    <h1>Страница «Об авторе»</h1>
    <article>
        <ul>Связь 📩 📩 📩</ul>


        <li>[Телеграм] https://t.me/Sudokuh/</li>

        <li>[WhatsApp] https://wa.me/qr/X3NHGLHW6KP6K1</li>
        <li>[GitHub] - https://github.com/ForTeamEffect/</li>
    </article>
</div>
{% endblock %}