<!-- templates/app_name/just_page.html -->

{% extends 'base.html' %}
{% block title %}
Об Авторе
{% endblock %}
{% block content %}
<!-- класс py-5 создает отступы сверху и снизу блока -->
<div class="container py-5">
    <h1>Страница «Об авторе»</h1>
    <article>
        Вобла и мои дети о которых надо заботиться.
        Они вдохновляют меня гораздо больше, чем модели из журналов.
        Ещё меня вдохновила моя стойкость. Ведь когда я выгорел при обучении,
        я не сдался и продолжить учиться на других ресурсах.
        Это помогло мне понять, что не я тупой, а преподаватель уёбок (без негатива)
        он учит так-же, как и английскому в школе, так что ничего не понятно и абсолютно
        отбивается желание что-то делать. Надеюсь мне хватит сил вытерпеть этих бакланов.
    </article>
</div>
{% endblock %}