{% extends 'base.html' %}
{% block title %}
Об Авторе
{% endblock %}
{% block content %}
<!-- класс py-5 создает отступы сверху и снизу блока -->
<div class="container py-5">
    <h1>Страница «Технологии»</h1>
    <article>
        <h3>на момент создания сайта мне помогли такие вещи как:</h3>
        <!--        class="list-group list-group-flush"-->
        <aside class="col-12 col-md-3">
            <ul>
                <li>Встроенные классы
                <li>Python</li>
                <li>ООП Python</li>
                <li>обучение в яндексе (да простит его вселенная)</li>
                <li>django ORM</li>
                <li>SQL-lite</li>
                <li>venv</li>
                <li>pip</li>
                <li>github</li>
                <li>база JS,..</li>
            </ul>
        </aside>
        <h3>сейчас уже шарю в:</h3>
        <aside class="col-12 col-md-3">
            <ul>
                <li>Python</li>
                <li>SQL</li>
                <li>ООП</li>
                <li>SQLite</li>
                <li>Git</li>
                <li>Django Framework</li>
                <li>CSS</li>
                <li>HTML5</li>
                <li>Автоматизированное тестирование</li>
                <li>Английский язык</li>
                <li>Коммуникабельность</li>
                <li>HTTP</li>
                <li>JWT</li>
                <li>React</li>
                <li>postman</li>
                <li>Bootstrap</li>
                <li>api openai</li>
                <li>REST API</li>
                <li>yandex.practikum</li>
                <li>PythonAnyWhere</li>
                <li>Docker</li>
                <li>aiohttp</li>
                <li>GitHub</li>
                <li>pyrogram, telethon, aiogram, telebot</li>
                <li>Redis, celery</li>
                <li>Django Rest Framework</li>
                <li>PostgreSQL</li>
                <li>FastAPI</li>
                <li>Работа в команде</li>
                <li>Алгоритмизация</li>
            </ul>
        </aside>
    </article>
</div>
{% endblock %}


<!--{% comment %} Колонки с отступом сверху и снизу {% endcomment %}-->
<!--<div class="row">-->
<!--  <h1>Вот что я умею</h1>-->
<!--  {% comment %}-->
<!--    Боковой блок со списком технологий -->
<!--    Займет всю ширину блока на мобильном-->
<!--    и 25% при размерах экрана ≥768px-->
<!--  {% endcomment %}-->
<!--  <aside class="col-12 col-md-3">-->
<!--    <ul class="list-group list-group-flush">-->
<!--      <li class="list-group-item">-->
<!--        Python-->
<!--      </li>-->
<!--      <li class="list-group-item">-->
<!--        Django-->
<!--      </li>-->
<!--    </ul>-->
<!--  </aside>-->
<!--  {% comment %}-->
<!--    Статья  -->
<!--    Займет всю ширину блока на мобильном-->
<!--    и 75% при размерах экрана ≥768px-->
<!--  {% endcomment %}-->
<!--  <article class="col-12 col-md-9">-->
<!--    <p>Текст страницы "Технологии"</p>-->
<!--  </article>-->
<!--</div>-->
